<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ActivoFijoEntities" connectionString="metadata=res://*/ActivoFijo.ModelActivoFijo.csdl|res://*/ActivoFijo.ModelActivoFijo.ssdl|res://*/ActivoFijo.ModelActivoFijo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TECA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="InventarioEntities" connectionString="metadata=res://*/Inventario.ModelInventario.csdl|res://*/Inventario.ModelInventario.ssdl|res://*/Inventario.ModelInventario.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TECA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="PruebaEntities" connectionString="metadata=res://*/ActivoFijo.ModelPrueba.csdl|res://*/ActivoFijo.ModelPrueba.ssdl|res://*/ActivoFijo.ModelPrueba.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TECA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>