<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="clases.Properties.Settings.TECAv8ConnectionString" connectionString="Data Source=.;Initial Catalog=TECAv8;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="clases.Properties.Settings.TECAConnectionString" connectionString="Data Source=LCH;Initial Catalog=TECA;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TECAv8Entities" connectionString="metadata=res://*/Seguridad.SeguridadModelo.csdl|res://*/Seguridad.SeguridadModelo.ssdl|res://*/Seguridad.SeguridadModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=TECA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TECAv8Entities1" connectionString="metadata=res://*/RecursosHumanos.MPersona.csdl|res://*/RecursosHumanos.MPersona.ssdl|res://*/RecursosHumanos.MPersona.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=TECA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TECAv8Entities2" connectionString="metadata=res://*/Seguridad.UsuarioEmpresa.csdl|res://*/Seguridad.UsuarioEmpresa.ssdl|res://*/Seguridad.UsuarioEmpresa.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=TECA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesContabilidad" connectionString="metadata=res://*/Contabilidad.ModelContabilidad.csdl|res://*/Contabilidad.ModelContabilidad.ssdl|res://*/Contabilidad.ModelContabilidad.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TECA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TallerEntities" connectionString="metadata=res://*/Taller.ModelTaller.csdl|res://*/Taller.ModelTaller.ssdl|res://*/Taller.ModelTaller.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TECA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="InventarioEntities" connectionString="metadata=res://*/Inventario.ModelInventario.csdl|res://*/Inventario.ModelInventario.ssdl|res://*/Inventario.ModelInventario.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TECA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CuentasPorPagarEntities" connectionString="metadata=res://*/Cuentasxpagar.ModelCuentasPorPagar.csdl|res://*/Cuentasxpagar.ModelCuentasPorPagar.ssdl|res://*/Cuentasxpagar.ModelCuentasPorPagar.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TECA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CompraEntities" connectionString="metadata=res://*/Compras.ModelCompras.csdl|res://*/Compras.ModelCompras.ssdl|res://*/Compras.ModelCompras.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TECA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="RecursosHumanosEntities" connectionString="metadata=res://*/RecursosHumanos.ModelRecursosHumanos.csdl|res://*/RecursosHumanos.ModelRecursosHumanos.ssdl|res://*/RecursosHumanos.ModelRecursosHumanos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TECA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TECAEntitiesCont" connectionString="metadata=res://*/Contabilidad.DatEnt.csdl|res://*/Contabilidad.DatEnt.ssdl|res://*/Contabilidad.DatEnt.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TECA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ActivoFijoEntities" connectionString="metadata=res://*/ActivoFijo.ModelActivoFijo.csdl|res://*/ActivoFijo.ModelActivoFijo.ssdl|res://*/ActivoFijo.ModelActivoFijo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TECA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>